@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600&display=swap');

:root {
    --background__color: #000000;
    --text__color: #FB5607;
    --accent__color: #FF006E;
}

/* Normal tags */

a {
    text-decoration: none;
    color: var(--text__color);
}

b {
    font-weight:900;
}

body {
    font-family: 'Quicksand', sans-serif;
    background-color: var(--background__color);
    font-size:1.75em;
    color: var(--text__color);
    transition: background-color 1000ms, color 1000ms;
    display: block;
}

em {
    font-style: italic;
}

/* Classes */

.flag {
    width: 1em;
    height: 1em;
}

.flags{
    text-align: center;
}


.iconPlusText{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1em 0em 1em 0em;
}

.navigationMenu {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0em 0em 0em 0em;
}

.navigationButton {
    padding: 1em 1em 1em 1em;
    margin: 0.5em 1em 0.5em 1em;
    border: 0.125em var(--accent__color) solid;
    border-radius: 0.625em;
    transition: border 1000ms;
}

.navigationButtonLink {
    color: var(--text__color);
    transition: color 1000ms;
    font-weight:700;
}

.textArea{
    background-color: rgba(0,0,0,0.3);
    padding: 0.5em;
    margin: 0.25em;
    border: 0.125em var(--accent__color) solid;
    border-radius: 0.625em;
    transition: border 1000ms, color 1000ms;
}

.textParagraph {
    margin: 0em 0em 0.75em 0em;
    line-height: 1.25;
    text-align: left;
}

.textList{
    margin: 0.25em 0em 1.25em 0em;
}

.textListItem{
    margin: 0em 0em 0.25em 0em;
}

.textSubsubtitle{
    font-size:1.125em;
    margin: 0.5em 0em 0.5em 0em;
}

.textSubtitle{
    font-size:1.25em;
    margin: 0.75em 0em 0.75em 0em;
}

.textTitle{
    font-weight:700;
    font-size:1.5em;
    margin: 0em 0em 1em 0em;
}
/* IDs */

#githubIcon, #linkedinIcon, #scholarIcon{
    width: 4em;
    height: 4em;
    margin: 0em 0.5em 0em 0em;
}

#main__quote--1, #main__quote--2, #main__quote--3 {
    opacity: 0;
    color: var(--accent__color);
    transition: opacity 2000ms, color 1000ms;
    text-align: center;
    margin: 2em 0em;
}

#name {
    text-align: center;
    font-size:1.5em;
}

/* Media */

@media (max-width: 500px) {
    .navigationMenu {
        flex-direction: column;    
    }
}
/* 
h2 {
    margin: 1em 0em 1em 0em;
    line-height: 1;
    font-size:1.375em;
    text-align: left;
    color: #FFFFFF;
}

h3 {
    margin: 1em 0em 1em 0em;
    line-height: 1;
    font-size:1.25em;
    text-align: left;
    color: #FFFFFF;
}

p, li {
    margin: 0.5em 0em 0.5em 0em;
    line-height: 1.5;
    font-size:1em;
    text-align: left;
    color: #FFFFFF;
}

.header__flags{
    text-align: right;
}

.header__menu {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2em 0em;
}

.header__flags__flags{
    width: 32px;
    height: 32px;
    margin: 0em 0.1em -1em 0.1em;
}

.header__menu--item, .footer__linkHome {
    padding: 1em 2em;
    margin: 3em 2em;
    color: var(--text__color);
    border: 5px var(--accent__color) solid;
    border-radius: 20px;
    text-decoration: none;
    font-weight: 700;
    transition: border 1000ms, color 1000ms;
}

.main__title {
    text-align: center;
    margin: 2em 0em;
    font-size: 2em;
    color: var(--text__color);
    transition: border 1000ms, color 1000ms;
}

.main__icons {
    display: flex;
    align-items: center;
    justify-content:space-evenly;
}

.main__icons__pairs{
    margin: 2em;
    text-align: center;
    font-size: 1.5em;
}

.main__icons__pairs__icons{
    width: 64px;
    height: 64px;
}

 */
